#container{
    height:500px;
    width: 100%;
    margin: 0px auto;
    background: green;
}
#pic{
    width:400px;
    float: left;
}
#para{
    background: orange;
}
p{
    margin-left:400px;
}

@media screen and (max-width:959px){
    #container{
        width:100%;
    }
    #pic{
        width:40%;
    }
    #para{
        width: 100%;
    }
}

@media screen and (max-width:640px){
    #pic{
        width:100%;
        display: block;
    }
    #para{
        float: left;
    }
    p{
        margin-left:0;
    }

}

@media screen and (max-width:400px){
    #container{
        width:400px;
    }
}