#container{
    height:500px;
    width:960px;
    margin: 0px auto;
    background: green;
}
#pic{
    
    width:400px;
    float: left;
    background: silver;
}

#para{
    
    width: 560px;
    float: left;
    background: orange;
}

@media screen and (max-width:959px){
    #container{
        width:100%;
    }
    #pic{
        width:40%;
    }
    #para{
        width:60%;
    }
}

@media screen and (max-width:640px){
    #pic{
        width:100%;
    }
    #para{
        width:100%;
    }
}

@media screen and (max-width:400px){
    #container{
        width:400px;
    }